.navbar-brand {
    font-family: 'Cabin Sketch', cursive;
    color: black;
}
.navbar{
    background-color: transparent;
    font-weight: bolder;
    font-size: 30px;
    border-color: transparent;

}
body {
    background-color: white;
}
